@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.grid-height{
grid-auto-rows: minmax(70px, auto);
}
.grid-search-box{
    grid-column: 3/7;
    border-radius: 30px;
    position: relative;
    outline: none;
}
.grid-search-input{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 30px;
    padding: 30px;
}
.nav-link {
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.nav-link.show {
    transform: translateY(0);
    opacity: 1;
}

.nav-link.hide {
    transform: translateY(-20px);
    opacity: 0;
}


.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Handles Email */
.email-options {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 10px;
    display: none;
    z-index: 1000;
}
.email-options a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}
.email-options a:hover {
    background: #f0f0f0;
}